@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	background-color: $black;
	color: $white;
	// overflow-y: hidden;
}

// Main Classes
.wrapper {
	padding: 2em;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.fw-bold {
	font-weight: bold;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2em 0;
	padding: 1em 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $black;
	border: 2px solid transparent;
	background-color: $green;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.9rem;
	border-radius: 2px;
	transition: color 0.5s, background-color 0.5s, border 0.5s;
	&:hover {
		background-color: transparent;
		color: $white;
		border: 2px solid $green;
	}
	&--offers {
		margin: 0;
		margin-top: 2.5em;
		width: 100%;
		background-color: $white;
		&:hover {
			background-color: $black;
			border: 2px solid $green;
			color: $white;
		}
	}

	&--contact {
		margin: 1.5em 0;
	}

	&--submit {
		margin: 1.5em 0;
		width: 100%;
		font-size: 1rem;
		order: 5;
	}
}

// NAV
.nav {
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 0 0 0 250px;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 10;
	.wrapper {
		padding: 1em;
	}

	&--active {
		left: 0;
		border-radius: 0;
		.wrapper {
			padding: 3.5em 1em 2em;
		}
		.nav {
			&__burger {
				margin: 1.2em;
				position: absolute;
				right: 0;
				top: 0;
			}
			&__items {
				display: flex;
				flex-direction: column;
				z-index: -5;
			}
			&__item {
				position: relative;
				width: fit-content;
				padding: 1em;
			}
		}
	}

	&__line {
		width: 100%;
		height: 5px;
		position: absolute;
		border-radius: 50px;
		background-color: $white;
		transition: width 0.3s;
		&:nth-child(1),
		&:nth-child(3) {
			bottom: 0;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			right: 0;
		}

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			width: 75%;
			top: 50%;
			bottom: 50%;
			translate: 0 -50%;
		}
		&:nth-child(3) {
			width: 50%;
		}
	}
	&__burger {
		margin: 0 0 1em 1em;
		padding: 1.1em 1.5em;
		position: relative;
		background-color: transparent;
		cursor: pointer;
		border: none;
		&--active {
			.nav__line {
				width: 100%;
			}
		}
	}
	&__items {
		display: none;
	}
	&__item {
		height: 100%;
		color: $white;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
	}
}

// HEADER
.header {
	display: flex;
	align-items: flex-start;
	min-height: 400px;
	height: 100dvh;
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: left;
	color: $darkblack;
	z-index: 10;

	&__title {
		font-size: 1.8rem;
		margin-bottom: 0.7em;
	}
	&__desc {
		width: 50dvw;
		min-width: 200px;
		font-family: 'Open Sans';
		text-align: justify;
	}
}

.main {
	&__title {
		font-size: 1.5rem;
	}
	.advisory {
		padding: 1em 0;
		&__box {
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 2em;
		}
		&__img {
			margin: 1em 0;
			img {
				width: 35px;
				padding: 0.3em;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				background-color: $green;
			}
		}
		&__text {
			font-family: 'Open Sans';
		}
	}
	.gallery {
		&__img {
			width: 100%;
		}
	}
	.offers {
		&__text {
			&-p {
				padding: 0.5em 0;
				font-size: 1.2rem;
			}
		}
		&__cards {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		&__card {
			border-radius: 2px;
			padding: 1em 1em 2em 1em;
			background-color: $gray;
			&-top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 1.5rem;
				font-weight: bold;
			}
			&-price {
				font-size: 2.3rem;
			}
			&-desc {
				margin: 0.7em 0;
				font-size: 1.1rem;
				font-weight: 400;
				font-family: 'Open Sans';
			}
			&-line {
				margin: 1.3em 0;
				width: 100%;
				height: 3px;
				background-color: $white;
			}
			&-icon {
				margin-right: 0.4em;
				background-color: $white;
				width: 15px;
				padding: 0.1em;
				border-radius: 100%;
			}
			&-li {
				color: $white;
				display: flex;
				align-items: center;
			}
			&--two {
				color: $black;
				background-color: $green;
				.offers__card {
					&-line,
					&-icon {
						background-color: $black;
					}
					&-li {
						color: $black;
					}
				}
				.btn--offers {
					background-color: transparent;
					border: 2px solid $black;
					&:hover {
						background-color: $black;
						border: 2px solid $white;
					}
				}
			}
			&--three {
				padding: 0;
				color: $lightgray;
				background-color: transparent;
				font-family: 'Open Sans';
				font-weight: 100;
				text-align: justify;
				.offers__card-desc {
					font-size: 1rem;
				}
			}
		}
	}
	.team {
		border-top: 3px solid $gray;
		&__card {
			&-border,
			&-img {
				border-radius: 50%;
			}
			&-border {
				margin: 2em auto;
				width: 250px;
				height: 250px;
				border: 9px solid $green;
				overflow: hidden;
			}
			&-bg {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				background-color: $gray;
				&:hover > .team__card-img {
					width: 100%;
				}
			}
			&-img {
				width: 77%;
				transition: width 0.3s;
				cursor: pointer;
			}
			&-text {
				margin: 1em 0;
				text-align: center;
			}
			&-name,
			&-branch {
				font-weight: bold;
			}
			&-name {
				font-size: 2rem;
			}
			&-branch {
				margin: 0.5em;
				font-size: 1.1rem;
			}
			&-aboutme {
				font-size: 1.1rem;
				font-weight: 100;
				font-family: 'Ubuntu';
			}
			&-media {
				margin: 2em auto;
				width: fit-content;
				display: flex;
				background-color: $black;
				border: 2px solid $green;
				border-radius: 20px;
				overflow: hidden;
				a {
					padding: 0.5em;
					transition: background-color 0.3s;
					&:hover {
						background-color: $green;
					}
				}
			}
		}
	}
	.co-workers {
		&__box {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		&__name-p,
		&__branch {
			font-weight: bold;
		}
		&__name {
			margin: 2em 0;
			padding: 1.8em 0.8em;
			background-color: $green;
			&-p {
				color: $black;
				font-size: 1.5rem;
			}
		}
		&__branch {
			font-size: 1.3rem;
		}
		&__aboutme {
			margin: 2em 0 4em;
			text-align: justify;
			color: $lightgray;
		}
		&__img {
			width: 100%;
			max-width: 500px;
		}
	}

	.statistics {
		&__cards {
			margin: 3em 0 1em;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 1.3em;
		}
		&__card {
			padding: 2em 1em;
			display: flex;
			justify-content: center;
			flex-direction: column;
			border-radius: 2px;
			transition: scale 0.3s, box-shadow 0.3s;
			&:hover {
				scale: 1.03;
			}
			&:nth-child(1),
			&:nth-child(3) {
				color: $black;
			}
			&:nth-child(1) {
				background-color: $green;
				&:hover {
					box-shadow: 3px 3px 5px 0px rgba(32, 222, 79, 0.7);
				}
			}
			&:nth-child(2) {
				background-color: $gray;
				&:hover {
					box-shadow: 3px 3px 5px 0px rgba(64, 62, 62, 0.7);
				}
			}
			&:nth-child(3) {
				background-color: $white;
				&:hover {
					box-shadow: 3px 3px 5px 0px rgba(195, 195, 195, 0.7);
				}
			}
			&-percent {
				margin: 0.5em 0;
				font-size: 3.4rem;
				font-weight: bold;
			}
			&-text {
				font-size: 1.3rem;
			}
		}
	}
}

.footer {
	&__bottom {
		margin: 2em 0 0 0;
		font-size: 1.1rem;
		font-family: 'Open Sans';
		text-align: center;
	}

	.contact {
		&__error {
			display: none;
			align-items: center;
			margin: 0 0 0.5em;
			transition: opacity 0.2s;
			&--active,
			&--disabled {
				display: flex;
			}
			&--active {
				color: $error;
			}
			&--disabled {
				color: $green;
			}
			&-img {
				margin-right: 0.2em;
			}
		}
		&__desc,
		&__phone {
			padding: 1em 0;
		}
		&__desc,
		&__address,
		&__phone {
			font-size: 1.1rem;
		}
		&__phone {
			color: $green;
			font-weight: bold;
		}
		&__input {
			padding: 1em;
			font-size: 1rem;
			width: 100%;
			transition: border 0.6s;
			border-radius: 2px;
			background-color: transparent;
			border: 2px solid $gray;
			color: $white;
			&:focus {
				border: 2px solid $white;
				outline: none;
			}
			&-error {
				border: 2px solid $error;
				color: $error;
				&:focus {
					border: 2px solid $error;
				}
				&::placeholder {
					color: $error;
				}
			}
			&-success {
				border: 2px solid $green;
				color: $green;
				&:focus {
					border: 2px solid $green;
				}
				&::placeholder {
					color: $green;
				}
			}
		}
	}
}

// ---- SPECIAL MEDIA ----
// + Fold devices
@media (max-width: 700px) and (max-height: 330px) {
	.header {
		background-position: top;
		align-items: center;
		min-height: 100dvh;
	}
}
// + Normal devices
@media (min-height: 700px) {
	.header {
		align-items: center;
		max-height: 700px;
	}
}
// ---- End of SPECIAL MEDIA ----

@media (min-width: 576px) {
	.header {
		&__text {
			width: 400px;
		}
		&__title {
			font-size: 2rem;
		}
		&__desc {
			font-size: 1rem;
			width: 300px;
		}
	}
	.main {
		.advisory {
			&__box {
				flex-direction: row;
				flex-wrap: wrap;
			}
			&__card {
				width: 45%;
			}
		}
		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			&__img {
				height: 280px;
				object-fit: cover;
			}
		}
		.statistics {
			&__cards {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
			}
			&__card {
				&-percent {
					margin: 0;
					margin-bottom: 0.3em;
				}
				&:nth-child(1) {
					grid-column: 1/2;
				}
				&:nth-child(2) {
					grid-column: 2/3;
				}
				&:nth-child(3) {
					grid-row: 2/3;
					grid-column: 1/3;
				}
			}
		}
	}
	.footer {
		.contact {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
			gap: 1em;
			&__card {
				.btn--contact {
					width: 100%;
				}
				&:nth-child(1),
				&:nth-child(2) {
					grid-row: 1/3;
				}
				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(4) {
					grid-column: 1/2;
				}
				&:nth-child(2) {
					grid-column: 2/3;
				}
				&:nth-child(3) {
					grid-row: 3/4;
				}
				&:nth-child(4) {
					grid-row: 4/5;
				}
				&:nth-child(5) {
					grid-row: 3/6;
					grid-column: 2/3;
					.contact__fields {
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		.wrapper {
			padding: 0;
		}
		&__item {
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: $green;
				color: $black;
			}
		}
		&--active {
			.nav {
				&__items {
					flex-direction: row;
				}
				&__item {
					width: 100%;
				}
			}
		}
		left: 0;
		border-radius: 0;
		&__burger {
			display: none;
		}
		&__items {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: center;
		}
		&__item {
			padding: 1em 0;
			width: 100%;
		}
	}
	.header {
		align-items: center;
	}
	.main {
		.advisory {
			&__card {
				width: 30%;
			}
		}
		.gallery {
			grid-template-columns: repeat(3, 1fr);
		}
		.offers {
			&__cards {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
			}
			&__card {
				grid-column: 1/2;
				&--two {
					grid-row: 1/2;
					grid-column: 2/3;
				}
				&--three {
					grid-row: 2/3;
					grid-column: 1/3;
				}
			}
		}
		.team {
			&__box {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
				gap: 1em;
			}
			&__card {
				&:nth-child(1) {
					grid-column: 1/2;
					grid-row: 1/2;
				}
				&:nth-child(2) {
					grid-column: 2/3;
					grid-row: 1/2;
				}
				&:nth-child(3) {
					grid-row: 2/3;
					grid-column: 1/3;
				}
			}
		}

		.co-workers {
			&__box {
				gap: 1em;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			&__card {
				grid-column: 2/3;
			}
			&__img {
				grid-row: 1/3;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.footer {
		.contact {
			&__card {
				&:nth-child(5) {
					.contact__fields {
						margin-bottom: 2em;
						flex-direction: row;
						align-items: center;
						height: 50px;
						gap: 1em;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.main {
		.offers {
			&__cards {
				grid-template-columns: repeat(3, 1fr);
			}
			&__card {
				&--three {
					grid-row: 1/2;
					grid-column: 3/4;
					.offers__card-desc {
						margin: 0;
					}
				}
			}
		}
		.team {
			&__box {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr;
			}
			&__card {
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					grid-row: 1/2;
				}

				&:nth-child(1) {
					grid-column: 1/2;
				}
				&:nth-child(2) {
					grid-column: 2/3;
				}
				&:nth-child(3) {
					grid-column: 3/4;
				}
			}
		}
		.statistics {
			&__cards {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}
			&__card {
				&:nth-child(3) {
					grid-row: 1/2;
					grid-column: 3/4;
				}
			}
		}
	}
	.footer {
		.contact {
			.btn--contact {
				width: 60%;
			}
		}
	}
}
