@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	background-color: $black;
}

// Main Classes
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

